/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon - 2 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
*/

.primary-btn1 {
  background-color: #FDECEF;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--ion-color-dark);
  box-shadow: 2px 3px var(--ion-color-dark);
}

.lbl {
  color: black;
  text-align: center;
  font-family: 'semi-bold';
}

.login-screen{
  margin-top: 120px;
}
